[[install-requirements]]

=== Concepte: Requeriments del servidor

[role="summary"]
Descripció general dels requisits del servidor per instal·lar i executar el nucli.

(((Installation requirements,overview)))
(((Installation requirements,disk space)))
(((Installation requirements,web server)))
(((Installation requirements,database)))
(((Installation requirements,PHP programming language)))
(((Installing,core software)))
(((Core software,installation requirements)))
(((Disk space,installation requirements)))
(((Web server,installation requirements)))
(((Apache web server,version requirements)))
(((Hiawatha web server,version requirements)))
(((Nginx web server,version requirements)))
(((Microsoft IIS web server,version requirements)))
(((Database,installation requirements)))
(((MySQL database,version requirements)))
(((PostgreSQL database,version requirements)))
(((SQLight database,version requirements)))
(((PHP programming language,version requirements)))

// ==== Coneixements previs

==== Quins són els requisits per executar el programari principal?

===== L'espai de disc

Una instal·lació mínima requereix 15 MB. Es necessiten 60 MB per a un lloc web amb molts mòduls i temes contribuïts instal·lats. Recordeu que es necessita molt més per a la base de dades, fitxers carregats pels usuaris, fitxers multimèdia, les còpies de seguretat i altres fitxers.

===== Servidor web

Apache (Recomanat)::
  Apache és el servidor web més utilitzat. El nucli funcionarà amb Apache 2.x allotjat en UNIX/Linux, OS X o Windows amb el mòdul d'Apache mod_rewrite instal·lat i activat. La configuració d'Apache VirtualHost ha de contenir la directiva _AllowOverride ALL_ per permetre que s'utilitzi el fitxer _.htaccess_.
Nginx::
  Nginx és un servidor web d'ús comú que se centra en l'alta concurrència, el rendiment i baix ús de memòria. El nucli funcionarà en Nginx 1.1 o superiors allotjat en UNIX/Linux, OS X o Windows. El ngx_http_rewrite_module ha d'estar instal·lat i activat.
Hiawatha::
  Hiawatha és un servidor web amb un fort enfocament en la seguretat. També té com a objectiu ser fàcil d'usar i lleuger. La recerca feta per investigadors independents demostra que Hiawatha ofereix un rendiment comparable al d'altres servidors web en condicions normals, però molt millor quan són atacats. L'URL Toolkit ha d'estar instal·lat i configurat per reescriure els URL.
Microsoft IIS::
  Microsoft IIS és un servidor web i un conjunt de mòduls per a extendre funcionalitats per ser usat amb Microsoft Windows. El nucli treballarà amb IIS 5, IIS 6, 7 o IIS si el PHP està configurat correctament. Com que es requereixen els URL nets és possible que siguin necessaris productes de tercers. Per IIS 7, pot utilitzar-se el mòdul de sobreescriptura d'URL Microsoft o una solució de tercers.

===== Base de dades

Utilitzeu una de les següents bases de dades:

* MySQL - 5.5.3 (MariaDB 5.5.20, Percona 5.5.8) o superior amb un motor d'emmagatzemament primari compatible amb InnoDB.

* PostgreSQL - 9.1.2 o superior

* SQLite - 3.4.2 o superior

===== PHP

PHP 5.5.9 o superior.

//==== Temes relacionats

==== Recursos addicionals

https://www.drupal.org/requirements[_Drupal.org_ pàgina de documentació de la comunitat "System requirements"]


*Atribucions*

Adaptad per https://www.drupal.org/u/KarlKedrovsky[Karl Kedrovsky] i
https://www.drupal.org/u/bemery987[Brian Emery] de
https://www.drupal.org/docs/8/system-requirements["Requeriments del sistema"],
copyright 2000-2016 pels contribuïdors individuals a la
https://www.drupal.org/documentation[Documentació de la Comunitat del Drupal].
Traduït per https://www.drupal.org/u/ckrina[Cristina Chumillas] i revisat per https://www.drupal.org/u/rvilar[Ramon Vilar].
