[[install-requirements]]

=== Основы: Требования к серверу

[role="summary"]
Обзор требований к серверу для установки и запуска Drupal.

(((Требования к установке,обзор)))
(((Требования к установке,место на диске)))
(((Требования к установке,веб сервер)))
(((Требования к установке,база данных)))
(((Требования к установке,PHP язык программирования)))
(((Установка,ядро Drupal)))
(((Ядро Drupal,Требования к установке)))
(((Место на диске,Требования к установке)))
(((Веб сервер,Требования к установке)))
(((Apache веб сервер,требования к версии)))
(((Hiawatha веб сервер,требования к версии)))
(((Nginx веб сервер,требования к версии)))
(((Microsoft IIS веб сервер,требования к версии)))
(((База данных,требования к версии)))
(((MySQL база данных,требования к версии)))
(((PostgreSQL база данных,требования к версии)))
(((SQLight база данных,требования к версии)))
(((PHP язык программирования,требования к версии)))

// ==== Необходимые знания

==== Какие требования для запуска ядра Drupal?

===== Место на диске

Суммарное место на диске, которое необходимо для вашего сайта неограничено, все
зависит от размера вашего сайта. Основыне файлы для ядра Drupal занимаю около 100 МБ
на веб сервере. Вам потребуется больше места если вы устанавливаете дополнительные модули или
темы оформления и вам также потребуется место для изображений, бекапов и других генерируемых
и загруженных на ваш сайт файлов. База данных также использует место на диске, хотя
обычно это не тоже место (и в некоторых случает даже не тот же
сервер), которое используется для файлов сайта.

===== PHP

PHP 7.2 или выше. PHP должен быть установлен с минимумальный ограничением на память в 64MB (настройка memory_limit); и если вы
запускаете несколько модулей на вашем сайте или используете тяжелый по памяти PHP
инструмент для коммандной строки (такой как Composer), предполагается использовать больше памяти, чем может быть
необходимо.

Определенные PHP расширения также необходимы; точный список требуемых PHP
расширений зависит от того как вы устанавливаете ядро Drupal и какие модули вы
используете на своем сайте. Главным образом, хостинг провайдеры уже устанавливают все
необходимые PHP расширения. Если вы хостите свой сайт сами или запускаете ваш сайт
на вашем локальном компьютере, то вам будет выдаваться сообщение об ошибке в ходе установки если какое-нибудь
из необходимых PHP расширений отсутствует и вы должны установить его чтобы
продолжить.

===== Веб серве

Apache (Рекомендовано)::
  Apache самый распространенный веб сервер. Ядро друпал будет работать на
  Apache 2.x установленном на UNIX/Linux, OS X или Windows, который имеет
  установленный и включенный mod_rewrite модуль. Конфигурация виртуального хоста Apache
  должна содержать настройку _AllowOverride All_, чтобы позволять файлу _.htaccess_
  работать.
PHP локальный сарвер::
  Вы можете временно запускать локальный демо сайт на вашем компьютере используя только PHP,
  без установки дополнительного веб сервера.
Nginx::
  Nginx широко используемый веб сервер, который специализируется на многопоточности,
  производительности и малом потребление памяти. Ядро Drupal может использовать Nginx 1.1 или
  выше установленном на UNIX/Linux, OS X или Windows. ngx_http_rewrite_module
  должен быть установлен и включен.
Hiawatha::
  Hiawatha - это веб сервер с сильным фокусом на безопасность. Он также стремиться
  быть легким в использовании и легковесным. Исследование проведенное независимыми
  исследователями подтверждают, что Hiawatha предлагает производительность сравнимую с остальными веб
  серверами для нормальных условий, однако более устойчив к атакам. URL
  Toolkit должен быть установлен и настроен перезаписывать URLы.
Microsoft IIS::
  Microsoft IIS - это веб сервер и набор модулей расширений для использования
  на Microsoft Windows. Ядро Drupal может работать с IIS 5, IIS 6 или IIS
  7 если PHP настроен правильно. Потому что чистые URLы требуют, чтобы вы
  использовали сторонние продукты. Для IIS 7, вы можете использовать модуль Microsoft URL
  Rewrite или сторонние решения.

===== База данных

Используйте одну из следующих баз данных:

* MySQL - 5.5.3 (MariaDB 5.5.20, Percona 5.5.8) или выше с
InnoDB-совместимым первичным хранилищем данных

* PostgreSQL - 9.1.2 или выше

* SQLite - 3.4.2 или выше. Временные локальный демо сайты используют SQLite, который
поставляется как часть PHP и не нуждается в установке отдельного ПО для
базы данных.

//==== Связанные темы

==== Дополнительные материалы

* https://www.drupal.org/docs/8/system-requirements[_Drupal.org_ community documentation page "System requirements"]
* https://secure.php.net/manual/en/configuration.php[PHP Runtime Configuration (PHP memory limit and other settings)]


*Авторы*

Адаптировано https://www.drupal.org/u/KarlKedrovsky[Karl Kedrovsky],
https://www.drupal.org/u/bemery987[Brian Emery], и
https://www.drupal.org/u/jhodgdon[Jennifer Hodgdon] из
https://www.drupal.org/docs/8/system-requirements["System requirements"],
авторские права 2000-copyright_upper_year за отдельными участниками
https://www.drupal.org/documentation[Drupal Community Documentation]

Переведено https://www.drupal.org/u/levmyshkin[Абраменко Иван] из
https://www.technocrat.com.au/[Technocrat].
